<h2><%= System.first.icd %></h2>

<div id='icd_nonterminals'>
  <% @icd_code.parents.each do |parent| %>
      <div>
        <h4 style="margin-bottom: 0.2em;"><%= parent['code'] %> <%= parent.text locale %></h4>
        <p><%= parent.localized_field 'note', locale %></p>
        <p><%= parent.localized_field 'coding_hint', locale %></p>

        <%= render(:partial => 'partials/hint_list', :locals => {:list => parent.localized_field('inclusions', locale), :name => t('inclusions')}) %>
        <%= render(:partial => 'partials/hint_list', :locals => {:list => parent.localized_field('exclusions', locale), :name => t('exclusions')}) %>
      </div>
  <% end %>
</div>

<h2 style="color: #96230A;"><%= @icd_code.code %> <small><%= @icd_code.text locale %></small > </h2>

<div id='icd'>
  <p><%= @icd_code.localized_field 'note', locale %></p>
  <p><%= @icd_code.localized_field 'coding_hint', locale %></p>

  <%= render(:partial => 'partials/hint_list', :locals => {:list => @icd_code.localized_field('inclusions', locale), :name => t('inclusions')}) %>
  <%= render(:partial => 'partials/hint_list', :locals => {:list => @icd_code.localized_field('exclusions', locale), :name => t('exclusions')}) %>
</div>
 <br/>
<%= link_to t('back_to_icd'), icd_codes_path %>
